* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Verdana';
}

a {
    text-decoration: none;
    color: white;
}

/* HEADER  */

.header {
    height: 2rem;
    width: auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.header a {
    font-size: 0.8rem;
    transition-duration: 0.6s;
}

.header a:hover {
    color: red;
}

/* HERO SECTION  */

.hero-section {
    height: 22rem;
    width: auto;
    background-image: url("header-img.jpg");
    background-position: center;
    background-size: cover;
}

.hero-section h1 {
    color: white;
    font-family: "Norican", cursive;
    font-weight: 600;
    font-size: 6rem;
    font-style: normal;
    margin-left: 3%;
    padding-top: 4%;
    transition-duration: 0.6s;
    display: inline-block;
}

.hero-section h1:hover {
    color: green;
    cursor: pointer;
}

.hero-section p {
    color: white;
    font-size: 1.5rem;
    margin-left: 3%;
    position: relative;
    bottom: 16px;
    transition-duration: 0.6s;
}

.hero-section p:hover {
    color: green;
    cursor: pointer;
}

/* MAIN SECTION  */

.main {
    background-color: #35374B;
    height: 200vh;
    width: auto;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.menu h1 {
    color: white;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-size: 3.5rem;
    padding-top: 2rem;
    transition-duration: 0.6s;
}

.menu h1:hover {
    color: green;
}

.menu p {
    color: white;
    font-weight: bold;
    width: 85%;
    transition-duration: 0.6s;
}

.menu p:hover {
    color: green;
}

/* MENU ITEMS  */

.menu-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.food {
    text-align: center;
    padding: 10px;
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
    transition-duration: 0.6s;
}

.food:hover {
    background-color: green;
}

.food img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    border-radius: 5px;
}

.food img:hover {
    cursor: pointer;
}

.food h1 {
    font-size: 18px;
    margin: 0;
    transition-duration: 0.6s;
}

.food h1:hover {
    color: white;
    cursor: pointer;
}

/* BUTTONS  */

.order-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
}

button {
    width: 6rem;
    font-weight: bold;
    height: 3rem;
    border-radius: 10px;
}

#btn1 {
    background-color: red;
    color: white;
    font-weight: bold;
    border: 1px solid red;
}

#btn2 {
    background-color: green;
    color: white;
    font-weight: bold;
    border: 1px solid green;
}

button:hover {
    cursor: pointer;
}

/* FOOTER  */

.footer {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.6rem;
    font-size: 0.7rem;
    transition-duration: 0.6s;
}

.footer:hover {
    color: red;
}